*.exe filter=lfs diff=lfs merge=lfs -text
Obsidian.1.4.5.exe filter=lfs diff=lfs merge=lfs -text
Obsidian.1.4.10.exe filter=lfs diff=lfs merge=lfs -text
Obsidian.1.4.11.exe filter=lfs diff=lfs merge=lfs -text
Obsidian.1.4.12.exe filter=lfs diff=lfs merge=lfs -text
Obsidian.1.4.13.exe filter=lfs diff=lfs merge=lfs -text
Obsidian.1.4.14.exe filter=lfs diff=lfs merge=lfs -text
Obsidian.1.4.16.exe filter=lfs diff=lfs merge=lfs -text
